.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  top: 0;
  background: rgb(89, 105, 122);
  background: linear-gradient(
    90deg,
    rgba(89, 105, 122, 1) 0%,
    rgba(90, 106, 123, 1) 100%
  );
  &__nav {
    justify-content: space-between;
    padding: 16px 0;
  }
  &__logo {
    gap: 18px;
    width: 320px;
    max-width: 100%;
    height: 80px;
    background: #ffffff;
    border-radius: 0px 40px 40px 0px;
  }
  &__logoimg {
    padding-left: 19px;
  }
  &__btn {
    border: none;
  }
  &__logoText {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #333333;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  &__list {
    gap: 40px;
  }
  &__link {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    padding-bottom: 8px;
    &:hover {
      border-bottom: 2px solid #ffffff;
    }
  }
  &__access {
    gap: 20px;
    margin-right: 20px;
  }
  &__accsessLink {
    position: relative;
    padding: 8px 23px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    margin-left: 40px;
  }
  &__arrow {
    position: absolute;
    left: -1px;
    top: 10px;
  }
  &__input:checked ~ .header__label {
    transform: scale(1.2);
  }
  &__label {
    transform: scale(1.2);
  }
}

@media (max-width: 900px) {
  .header {
    background: #ffffff;
    border-radius: 0px;
    &__logo {
      height: 0;
    }
    &__list {
      display: none;
    }
    &__accsessLink {
      color: #333333;
      border: 1px solid #318eb4;
      border-radius: 4px;
      &__hover {
        background-color: dodgerblue;
        color: #ffffff;
      }
    }
    &__arrow {
      color: #318eb4;
    }
  }
}

@media (max-width: 560px) {
  .header {
    &__accsessLink {
      display: none;
    }
    &__anketolog {
      display: none;
    }
    &__logo {
      height: 0;
    }
  }
}
@media (max-width: 1296px) {
  .header {
    &__item:nth-child(1) {
      display: none;
    }
  }
}
@media (max-width: 1135px) {
  .header {
    &__item:nth-child(1) {
      display: none;
    }
    &__item:nth-child(4) {
      display: none;
    }
  }
}
