.service {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.5) 0%,
      #f4f5f9 32.81%,
      #f7f7fa 67.71%,
      rgba(255, 255, 255, 0.5) 100%
    ),
    #f4f5f9;
  &__title {
    padding: 80px 0 40px;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #333333;
  }
  &__box {
    display: grid;
    grid-template-columns: auto auto auto;
    
    padding-bottom: 80px;
  }
  &__card:nth-child(3) {
    padding: 38px 36px 26px 24px;
    margin-bottom: 0;
  }
  &__card:nth-child(1) {
   margin-left: 0;
  }
  &__card {
   margin-left: 5%;
    padding: 24px 27px 46px 24px;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    transition: 0.3s;
    &:hover {
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.08);
      transition: 0.3s;
    }
    &:active {
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
    }
  }
  &__cardimg {
    padding-bottom: 24px;
  }
  &__list {
    padding-left: 20px;
  }
  &__cardtitle {
    margin-bottom: 16px;
    max-width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
  }
  &__item {
    margin-bottom: 16px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #ef4744;
      top: 13px;
      left: -20px;
    }
  }
  &__link {
    font-weight: 900;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #333333;
  }
  &__cardnone {
    display: none;
  }
  &__cardnone img {
    margin-left: 80px;
  }
  &__card:nth-child(1) .service__subtitle  {
margin-bottom: 83px;
}
&__card:nth-child(1) .service__font  {
     position: relative;
     top: -20px;
      }

  &__font {
    position: relative;
    top: 105px;
    padding: 8px;
    background: #ffffff;
    border-radius: 2px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    color: #686868;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: 0.2s;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
    &:hover {
      box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.1);
      transition: 0.2s;
    }
  }
  &__cardtitleTwo {
    display: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    margin-bottom: 8px;
  }
  &__subtitle {
    display: none;
    width: 252px;
    max-width: 100%;
    font-weight: 700;
    font-size: 12px;
    line-height: 163.42%;
    color: #2b2b2b;
    margin-bottom: 8px;
  }
  &__subtitle strong {
    color: black;
    font-weight: 800;
  }
}
@media (max-width: 1160px) {
  .service {
    &__title {
      padding-top: 40px;
      font-size: 24px;
      line-height: 28px;
    }
    &__box {
      display: grid;
      grid-template-columns: auto auto;
    }
    &__card {
      margin-bottom: 5%;
    }
    &__card:nth-child(3) {
      padding: 14px 10px 10px 10px;
    }
    &__cardone {
      margin-left: 0;
      padding: 0;
      display: grid;
      grid-template-columns: auto auto;
      grid-column: 3 span;
      
    }
    &__cardimgone {
      width: 414px;
      height: 214px;
    }

    &__item {
      margin-bottom: 0px;
    }
  }
}
@media (max-width: 731px) {
  .service {
    &__box {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__card {
      padding: 32px 24px 16px 24px;
      width: 300px;
      max-width: 100%;
    }
    &__card:nth-child(2) {
     margin-left: 0;
    }
    &__cardimg {
      display: none !important;
    }
    &__cardnone {
      display: block;
    }

    &__cardtitle {
      display: none;
    }
    &__cardtitleTwo {
      display: block;
    }
    &__list {
      display: none;
    }
    &__subtitle {
      display: block;
    }
    &__cardnone {
      display: block;
    }
  }
}


