.container {
 width: 1400px;
 margin: 0 auto;
 max-width: 100%;
 padding: 0 20px;
}
.flex{
display: flex;
align-items: center;
}
*,
*::before,
*::after {
margin: 0;
padding: 0;
box-sizing: border-box;
list-style: none;
text-decoration: none;
}