$container-size: 1280px;
$header-bg: #34495e;
$font-size-h2: 36px;

@mixin container {
    max-width: $container-size;
    width: 100%;
}

@mixin btn_style {
    width: 200px;
    height: 48px;
    border: 1px solid #4F4F4F;
    border-radius: 4px;
    font-weight: 700;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    text-transform: uppercase;

    &:hover {
        background-color: #2D9CDB;
        border-color: #2D9CDB;
        color: #fff;
    }

    &:active {
        color: #2D9CDB;
        background-color: initial;
        border: 5px double;
    }
}